<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Food Collectors</title>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>
	<body>
		{{{ body }}}
    <footer class="bd-footer">
        <div class="container-fluid p-3 p-md-5">
            <ul class="nav justify-content-end text-muted">
                <li class="nav-item mx-2">
                    <a href="https://github.com/philippe101/Food_Collectors" target="_blank">GitHub</a>
                </li>
                <li class="nav-item mx-2">
                    <a href="#">Contact</a>
                </li>
                <li class="nav-item mx-2">
                    <a href="#">About</a>
                </li>
            </ul>
        </div>
    </footer>
	</body>
  <script src="assets/js/app.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
</html>
