<!--NAVBAR-->

 <nav class="navbar navbar-light col align-items-end" style="background-color: #00C4C2;">
     <blockquote class="blockquote">
         <p class="mb-0"><em>“You have not lived today until you have done something for someone who can never repay you.”</em></p>
         <footer class="blockquote-footer text-white">John Bunyan</footer>
     </blockquote>
     <a class="btn btn-outline-dark mb-3 " style="background-color: DarkSalmon;" href="index.html" role="button">Log Out</a>
 </nav>
 <div class="main-container">
     <h1 class="text-center text-white py-5">
<display-1>Welcome ...!</display-1>
</h1>
     <div class="col-sm">
       <!--TABLE-->
         <table class="table table-bordered table-hover text-center" id="table">
             <thead class="thead-dark text-white">
                 <tr>
                     <th scope="col">#</th>
                     <th scope="col">Food Item</th>
                     <th scope="col">Quantity</th>
                     <th scope="col">Expiration</th>
                 </tr>
             </thead>
             <tbody>
                 <tr>
                     <th scope="row">1</th>
                     <td>Pickles</td>
                     <td>12 jars</td>
                     <td>May 2018</td>
                 </tr>
                 <tr>
                     <th scope="row">2</th>
                     <td>Cookies</td>
                     <td>5 dozen</td>
                     <td>2 weeks</td>
                 </tr>
                 <tr>
                     <th scope="row">3</th>
                     <td>Mashed Potatoes</td>
                     <td>18 gallons</td>
                     <td>5 days</td>
                 </tr>
             </tbody>
         </table>
         </div>
     </div>
     <!--FOOTER-->
