<!--NAVBAR-->
    <nav class="navbar navbar-light col align-items-end" style="background-color: #00C4C2;">
        <blockquote class="blockquote">
            <p class="mb-0"><em>“You have not lived today until you have done something for someone who can never repay you.”</em></p>
            <footer class="blockquote-footer text-white">John Bunyan</footer>
        </blockquote>
        <a class="btn btn-outline-dark mb-3 " style="background-color: DarkSalmon;"  data-toggle="modal" data-target="#signin" role="button">Sign In!</a>
    </nav>
 <!--SIGN IN MODAL-->
    <div class="modal fade bd-example-modal-sm" id="signin" tabindex="-1" role="dialog" aria-labelledby="signin form" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="signinmodal-content">
                <div class="modal-header bg-primary text-center text-white py-3">
                    <h1 class="text-center login-title">Welcome Back!</h1>
                </div>
                <div class="modal-body">
                    <img class="w-50 rounded-circle ml-5" src="https://ukla.org/images/icons/user-icon.svg" alt="...">
                    <form class="form-signin">
                        <input type="text" class="form-control my-3" placeholder="Email" required autofocus>
                        <input type="password" class="form-control mb-3" placeholder="Password" required>
                        <input type="submit" name="login" class="login loginmodal-submit btn btn-lg btn-primary" value="Login">
                        <input class="checkbox pull-left">
                            <input type="checkbox" value="remember-me"> Remember me
                        </input>
                    </form>
                </div>
                <div class="modal-footer">
                    <a href="#register" data-toggle="modal" data-target="#register">Create an account</a>
                </div>
            </div>
        </div>
    </div>
       <!--JUMBOTRON-->
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 id="title" class="display-1 text-center">Food Collectors</h1>
            <div class="summary rounded">
                <p id="signup" class="h4"><strong>In the USA, many tons of food are thrown away from grocery stores, bakeries and restaurants on a daily basis. Meanwhile, 1 in 7 people struggle from hunger including children. We want to connect food that is still good but would have been thrown out and deliver it to those in need. </strong></p>
            </div>
        </div>
    </div>

    <!--JOB LISTINGS-->
    <div class="row">
        <div class="col-sm mx-4">
            <div id="title" class="card-header bg-success display-4 text-white text-center">Food Collector</div>
            <div class="card-body">
                <p id="signup" class="h4 mb-4">Help out the good cause and volunteer your time to deliver food donations to a local food bank. You will be helping feed those in need and that's something you can feel good about.</p>
            </div>
        </div>
        <div class="col-sm mx-4">
            <div id="title" class="card-header bg-warning display-4 text-white text-center">Food Donations</div>
            <div class="card-body">
                <p id="signup" class="h4 mb-4">Don't throw that perfectly good food away! Come and register with us and we'll have someone stop by and pick up that food from you. You'll be feeding those who are struggling with hunger.</p>
            </div>
        </div>
    </div>
    <button type="button" class="w-25 btn btn-primary btn-lg btn-block mx-auto mb-5" data-toggle="modal" data-target="#register">Sign Up Now</button>

    <!--  MODALS     -->
    <div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="register form" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="header bg-primary text-center text-white py-3" id="mHeader">
                    <h4 class="modal-title title-up" id="exampleModalLabel">Sign Up</h4>
                </div>
                <div class="modal-body">
                    <!--regitstration form-->
{{!-- <form action="/api/new" target="_blank" method="POST">
  <input type="text" name="name">
  <input type="text" name="phone">
  <input type="text" name="email">
  <input type="text" name="address">
  <input type="submit" value="Submit">
</form> --}}

                    <form action="/api/new" method="POST">
                        <label class="mb-2"><strong>Create your Login Info:</strong></label>
                        <select class="custom-select mb-3">
                            <option selected><strong>PLEASE SELECT</strong></option>
                            <option value="1">Food Collector</option>
                            <option value="2">Food Donations</option>
                        </select>
                        <div class="input-group form-group no-border">
                            <span class="input-group-addon">
                            <i class="fa fa-user-circle"></i>
                          </span>
                            <input type="text" name="name" class="form-control" placeholder="Name...">
                        </div>
                        <div class="input-group form-group no-border">
                            <span class="input-group-addon">
                              <i class="fa fa-phone-square"></i>
                            </span>
                            <input type="text" name="phone" class="form-control" placeholder="Phone...">
                        </div>
                        <div class="input-group form-group no-border">
                            <span class="input-group-addon">
                              <i class="fa fa-home"></i>
                            </span>
                            <input type="text" name="address" class="form-control" placeholder="Address...">
                        </div>
                        {{!-- <div class="input-group form-group no-border">
                            <span class="input-group-addon">
                              <i class="fa fa-home"></i>
                            </span>
                            <input type="text" class="form-control" placeholder="Apartment, studio, or floor">
                        </div>
                        <div class="form-row">
                            <div class="input-group form-group no-border col-md-6">
                                <span class="input-group-addon">
                              <i class="fa fa-building-o"></i>
                            </span>
                                <input type="text" class="form-control" placeholder="City">
                            </div>
                            <div class="form-group col-md-4">
                                <select class="custom-select">
                                    <option selected>State</option>
                                    <option value="AL">Alabama</option>
                                    <option value="AK">Alaska</option>
                                    <option value="AZ">Arizona</option>
                                    <option value="AR">Arkansas</option>
                                    <option value="CA">California</option>
                                    <option value="CO">Colorado</option>
                                    <option value="CT">Connecticut</option>
                                    <option value="DE">Delaware</option>
                                    <option value="DC">District Of Columbia</option>
                                    <option value="FL">Florida</option>
                                    <option value="GA">Georgia</option>
                                    <option value="HI">Hawaii</option>
                                    <option value="ID">Idaho</option>
                                    <option value="IL">Illinois</option>
                                    <option value="IN">Indiana</option>
                                    <option value="IA">Iowa</option>
                                    <option value="KS">Kansas</option>
                                    <option value="KY">Kentucky</option>
                                    <option value="LA">Louisiana</option>
                                    <option value="ME">Maine</option>
                                    <option value="MD">Maryland</option>
                                    <option value="MA">Massachusetts</option>
                                    <option value="MI">Michigan</option>
                                    <option value="MN">Minnesota</option>
                                    <option value="MS">Mississippi</option>
                                    <option value="MO">Missouri</option>
                                    <option value="MT">Montana</option>
                                    <option value="NE">Nebraska</option>
                                    <option value="NV">Nevada</option>
                                    <option value="NH">New Hampshire</option>
                                    <option value="NJ">New Jersey</option>
                                    <option value="NM">New Mexico</option>
                                    <option value="NY">New York</option>
                                    <option value="NC">North Carolina</option>
                                    <option value="ND">North Dakota</option>
                                    <option value="OH">Ohio</option>
                                    <option value="OK">Oklahoma</option>
                                    <option value="OR">Oregon</option>
                                    <option value="PA">Pennsylvania</option>
                                    <option value="RI">Rhode Island</option>
                                    <option value="SC">South Carolina</option>
                                    <option value="SD">South Dakota</option>
                                    <option value="TN">Tennessee</option>
                                    <option value="TX">Texas</option>
                                    <option value="UT">Utah</option>
                                    <option value="VT">Vermont</option>
                                    <option value="VA">Virginia</option>
                                    <option value="WA">Washington</option>
                                    <option value="WV">West Virginia</option>
                                    <option value="WI">Wisconsin</option>
                                    <option value="WY">Wyoming</option>
                                </select>
                            </div>
                            <div class="form-group col-md-2">
                                <input type="text" class="form-control" placeholder="Zip">
                            </div>
                        </div> --}}
                        <hr class="mb-3">

                        {{!-- <div class="input-group form-group no-border">
                            <span class="input-group-addon">
                              <i class="fa fa-twitter"></i>
                            </span>
                            <input type="text" class="form-control" placeholder="@Twitter Handlebar" aria-label="Recipient's username" aria-describedby="basic-addon2">
                        </div> --}}
                        <div class="input-group form-group no-border">
                            <span class="input-group-addon">
                            <i class="fa fa-envelope"></i>
                          </span>
                            <input type="email" name="email" class="form-control" placeholder="Email...">
                        </div>
                       {{!--  <div class="form-row">
                            <div class="input-group form-group no-border col-md-6">
                                <span class="input-group-addon">
                            <i class="fa fa-key"></i>
                          </span>
                                <input type="password" class="form-control" placeholder="Password">
                            </div>
                            <div class="input-group form-group no-border col-md-6">
                                <input type="password" class="form-control" placeholder="Confirm Password">
                            </div> --}}
                            {{!-- <div class="form-check">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input"> Remember Me
                                </label>
                            </div>
                        </div>--}}
                </div> 
                <div class="modal-footer">
                    <a href="#signin" data-toggle="modal" data-target="#signin">Already Signed Up?</a>
                    <button type="submit" class="btn btn-primary" value="submit">Register</button>

                </div>
                </form>
            </div>
        </div>
    </div>
