<!--NAVBAR-->
<nav class="navbar navbar-light col align-items-end" style="background-color: #00C4C2;">
    <blockquote class="blockquote">
        <p class="mb-0"><em>“You have not lived today until you have done something for someone who can never repay you.”</em></p>
        <footer class="blockquote-footer text-white">John Bunyan</footer>
    </blockquote>
    <a class="btn btn-outline-dark mb-3 " style="background-color: DarkSalmon;" href="index.html" role="button">Log Out</a>
</nav>
<!--Main-->
<div class="main-container">
    <h1 class="text-center text-white py-5">
<display-1>Welcome ...!</display-1>
</h1>
    <!--CARD INFO FOR PICKUPS-->
    <div class="row">
      {{#each orders}}
        <div class="col-md-3">
          <div class="card mx-3">
            <div class="card-body">
                <h4 class="card-title">{{this.name}}</h4>
                <p class="card-text">Quantity: {{this.quantity}} | Expiration: {{this.expiration}}</p>
                <p class="card-text"><small class="text-muted">Status: {{this.status}}</small></p>
            </div>
            <img class="card-img-bottom" src="http://images.indianexpress.com/2016/11/hazaribagh-759.jpg" alt="Card image cap">
          </div>
        </div>
      {{/each}}
    </div>

</div>
